* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

.flex-column, ul.sub-menu-list, .big-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  max-width: 1070px;
  margin: 0 auto;
  height: inherit; }

header {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  position: relative; }
  header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header ul.menu-list {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
    header ul.menu-list > li {
      position: relative; }
      header ul.menu-list > li > a {
        text-decoration: none;
        color: #000;
        padding: 20px; }
        header ul.menu-list > li > a:hover {
          background-color: #d6d6d6; }
        header ul.menu-list > li > a.active {
          -webkit-box-shadow: inset 0 -5px 0 #c1c1c1;
                  box-shadow: inset 0 -5px 0 #c1c1c1; }

@media (max-width: 1000px) {
  header ul.menu-list {
    display: none; } }

ul.menu-list li:hover ul.sub-menu-list {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

ul.sub-menu-list {
  position: absolute;
  top: 39px;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 10; }
  ul.sub-menu-list li a {
    display: block;
    text-decoration: none;
    padding: 0px 14px 10px 14px;
    color: #000; }
    ul.sub-menu-list li a:first-child {
      padding-top: 10px; }
    ul.sub-menu-list li a:hover {
      background-color: #d6d6d6; }

.time {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px; }

.about-me {
  text-align: center;
  font-weight: 600; }
  .about-me h2 {
    padding-top: 60px;
    font-weight: 600;
    font-size: 35px; }
  .about-me img {
    height: 400px;
    padding: 30px 0; }

.table-wrapper {
  padding-top: 60px; }

.table {
  text-align: center;
  margin-bottom: 50px; }
  .table tbody > tr:nth-child(n+4) td:nth-child(2) {
    text-align: left; }
  .table tbody > tr:nth-child(-n+3) td:nth-child(n+1) {
    font-weight: bold; }
  .table tbody tr td:nth-child(n+3) {
    font-weight: bold; }
  .table tbody > tr:nth-child(1) td:nth-child(1) {
    font-weight: normal; }

.photo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 10px 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .photo-wrapper .img-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
    min-width: 200px; }
    .photo-wrapper .img-block figcaption {
      text-align: center;
      font-size: 14px; }

.img-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 0 64% 0; }
  .img-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }

.big-img {
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.36);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .big-img img {
    max-height: 80vh;
    -o-object-fit: contain;
       object-fit: contain;
    min-height: 300px;
    max-width: 90%; }

.hidden {
  display: none; }

.bio {
  padding-top: 50px; }
  .bio h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px; }
  .bio p {
    line-height: 1.4;
    text-indent: 30px;
    padding-bottom: 10px; }

.content, nav {
  padding-top: 40px; }
  .content h2, nav h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
    text-indent: 40px; }
  .content ul, nav ul {
    padding-left: 30px;
    padding-bottom: 30px; }
  .content a, nav a {
    text-decoration: none; }

.article {
  padding-bottom: 15px;
  line-height: 1.4; }
  .article h3 {
    font-weight: 600; }

.history-table-wrapper table {
  width: 60%; }
  .history-table-wrapper table td {
    padding: 5px; }

.page-header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  padding: 30px 0; }

.history .table-title {
  padding-bottom: 15px; }

.history-table-wrapper table > tr:first-child {
  font-weight: bold; }

.hidden {
  display: none !important; }

.big-img-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin-top: 15px; }
  .big-img-control .arrow {
    font-size: 25px;
    background-color: rgba(245, 245, 245, 0.54);
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .big-img-control .arrow:hover {
      color: #fff; }

.img-counter {
  background-color: #d8c1a9;
  width: 60%;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.2em 0;
  border-radius: 10px; }

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.form {
  width: 570px;
  padding: 50px;
  border: 1px #000 solid;
  margin: 50px 0;
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form h2 {
    text-align: center; }
  .form input {
    margin: 10px 0; }
  .form select {
    margin: 10px 0;
    padding: 4px 10px 4px 3px; }
  .form .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form .radio input #female {
      margin-left: 30px;
      display: none; }

input[type="radio"] {
  margin-right: 5px; }

input[type="radio"] + label {
  margin-right: 15px;
  -ms-flex-item-align: center;
      align-self: center; }

input[type="text"], input[type="email"] {
  padding: 5px;
  width: 60%; }

button {
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid black; }
  button[type="submit"] {
    background-color: #aec086; }

.textarea-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.buttons-wrapper {
  margin-top: 20px;
  text-align: center; }

.eco-select-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.eco-radio-input {
  position: relative;
  margin-top: 10px; }

.eco-textarea-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .eco-textarea-input label {
    padding-bottom: 10px; }

.error-message {
  display: none;
  color: red;
  padding-left: 10px; }

.error .error-message {
  display: initial;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 13px; }

.calendar {
  display: grid;
  position: absolute;
  width: 200px;
  grid-template-rows: 2.5em 2.1em 1fr;
  grid-template-areas: 'pick-year-and-month' 'name-of-day' 'pick-date';
  background-color: #f5f5f5;
  border: 1px solid #868686;
  border-radius: 4px;
  font-size: 0.8rem; }
  .calendar .pick-year-and-month {
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 10px;
    background-color: #ffba3b;
    border-radius: 4px 4px;
    margin: 3px 2px; }
    .calendar .pick-year-and-month select {
      margin: 0;
      padding: 0;
      max-height: 300px; }
  .calendar .name-of-day {
    grid-area: name-of-day;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center; }
  .calendar .pick-date {
    display: grid;
    grid-area: pick-date;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 2.2em;
    grid-auto-flow: row;
    grid-gap: 2px;
    margin: 2px; }
    .calendar .pick-date .empty-square {
      grid-column-start: 1;
      grid-column-end: 3; }
    .calendar .pick-date .day-of-month {
      display: grid;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fff;
      border: 1px solid #d4d4d4;
      -webkit-transition: background-color 0.1s ease-out;
      -o-transition: background-color 0.1s ease-out;
      transition: background-color 0.1s ease-out;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .calendar .pick-date .day-of-month:hover {
        background-color: #ffba3b; }
      .calendar .pick-date .day-of-month.active {
        background-color: #ffba3b; }

input + .calendar {
  margin-top: -10px; }

.age-input > input {
  color: #333333; }

.popup {
  position: absolute;
  border: 1px solid #96cf54;
  right: 0;
  top: 50%;
  -webkit-transform: translate(110%, -50%);
      -ms-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  font-weight: 500;
  padding: 15px 20px; }

.modal-window {
  position: fixed;
  width: 100%;
  height: 100%; }

.modal-wrapper {
  position: absolute;
  border: 1px solid #000;
  width: 90%;
  max-width: 400px;
  height: 220px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%; }
.error404 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.error404 img {
  height: 100vh;
}
